{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="feed">
  {% if validlink %}
    <h5>Change password</h5>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      <a href="{% url 'password_reset' %}">Please request a new password reset</a>.
    </p>
  {% endif %}
  </div>
  </div>
{% endblock %}