{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<section id="post-detail">
  <div class="container">
    <div class="feed">
      <div class="feed-content">
        <div class="profile">
          <div class="profile-picture">
            <img src="{{ post.author.profile_picture.url }}" alt="">
          </div>
        </div>
        <div class="post-content">
          <h4 class="lead">{{ post.title }}</h4>
          <div class="post-content-meta">
            <span><i class="fas fa-user"></i>{{ post.author }}</span>
            <span><i class="fas fa-calendar-day"></i>{{ post.published_at|date }}</span>
            <span><i class="fas fa-comments"></i>{{ post.comments.count }}</span>
            <span><i class="fas fa-eye"></i>{{ post.views }}</span>
          </div>
          {% if request.user == post.author.user %}
          <div class="post-content-meta">
            <span><i class="fas fa-pen"></i><a href="{% url 'blog:post_update' post.pk %}">Update</a></span>
            <span><a class="" href="{% url 'blog:post_delete' post.pk %}">🗑 Delete</a></span>
          </div>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="feed">
      {{ post.content }}
    </div>

    <div class="feed">
      <h5>Comments ({{post.comments.count}})</h5>
      <div class="feed-content">
      {% for comment in post.get_comments %}
      
      <p>{{ comment.user }}</p>
      <p>{{ comment.content }} {% if request.user.is_superuser %}
      <a href="{% url 'blog:comment_delete' comment.pk %}">Delete 🗑</a>{% endif %}</p>
      
      {% empty %}
      No comments.
      {% endfor %}
      </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="feed">
      <h5>Leave a reply</h5>
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Comment</button>
      </form>
    </div>
    {% endif %}
  </div>
</section>


{% endblock content %}
