/* global */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

:root {
    --main-font-color: #333;
    --main-white: #fff;
}

section {
    padding: 1rem 0;
}


/* re-usable classes */
.feed {
    margin-top: 30px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    
}

.feed h5 {
    padding-bottom: .8rem;
    border-bottom: 1px solid #dee2e6 !important;
    
}

.feed-content {
    display: flex;
}

.profile-picture {
    height: 100px;
    width: 100px;
}

.profile-picture img {
    padding: 1rem;
    width: 100%;
    border-radius: 50%;
    
}

.post-content {
    flex: 1;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6 !important;

}

.post-content h4 {
    text-transform: capitalize;
}

.post-content h4 a {
    text-decoration: none;
    color: initial;
}

.post-content-meta {
    display: flex;
    flex: 1;
}

.post-content-meta span {
    padding-right: 1rem;
}

.post-content-meta i {
    padding-right: .5rem;
}

.post-content-meta .fas {
    color: #007bff;
}

/* navigation */
.navbar-brand {
    border-bottom: 2px solid #333 !important;
    margin-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav:last-child {
    padding-right: 4rem;
}

.navbar-nav li a:hover {
    color: #002bff !important;
    transition: 650ms;
}

.navbar {
    background-color: transparent !important;
}

.navbar-toggler {
    border: none !important;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--main-font-color) !important;
}

/* remove bullets from signup */
.feed ul {
    list-style: none !important;
}
